* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  margin-bottom: 0.8rem;
}

.app {
  width: 300px;
}

.canvas {
  border: 1px solid black;
  border-radius: 4px;
  cursor: crosshair;
}

.result {
  text-align: center;
}

.toolbox {
  display: flex;
  gap: 0.4rem;
  margin-top: 1rem;
}

button {
  padding: 0.8rem 1.6rem;
  border-radius: 0.25rem;
  margin: 0 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
  margin: 0;
}

button:hover {
  filter: brightness(0.9);
}

.btn-save {
  background: green;
}

.btn-predict {
  background: blue;
}

.btn-clear {
  background: gray;
}
