<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
    <script async defer src="{{ url_for('static', path='/script.js') }}"></script>
    <title>Drawing Recognition</title>
  </head>
  <body>
    <div class="app">
      <div class="drawing-board">
        <canvas class="canvas"></canvas>
      </div>
      <div class="container-buttons">
        <button class="btn-save">Download</button>
        <button class="btn-predict">Predict</button>
        <button class="btn-clear">Clear</button>
      </div>
    </div>
  </body>
</html>
