<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /><link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/favicon.ico') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
    <script
      async
      defer
      src="{{ url_for('static', path='/script.js') }}"
    ></script>
    <title>Drawing Recognition</title>
  </head>
  <body>
    <div class="app">
      <!-- <h2 class="title">Drawing Board 🖌</h2> -->
      <canvas class="canvas" width="300" height="300"></canvas>
      <p class="result"></p>
      <div class="toolbox">
        <button class="btn-save">Download</button>
        <button class="btn-predict">Predict</button>
        <button class="btn-clear">Clear</button>
      </div>
    </div>
  </body>
</html>
